<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IServiceEuqip" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:9000/EquipService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceEuqip" contract="IServiceEuqip"
                name="BasicHttpBinding_IServiceEuqip" />
		</client>
	</system.serviceModel>
</configuration>